// Header.module.scss
.headerWrapper:global(.MuiPaper-root) {
  background-color: #00b274;

  .logoIcon {
    margin-right: 2rem;
  }
  .logo {
    color: fff;
    margin-right: 3rem;
  }
}

.menuButton {
  display: none;

  @media (max-width: 900px) {
    display: block;
  }
}

.mobileMenu {
  display: none;

  @media (max-width: 900px) {
    display: block;
  }
}

.link {
  text-decoration: none;
  color: inherit;
}
